@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
  color: #222;
  font-family: "Roboto", sans-serif;
}

div.container {
  display: flex;
  width: inherit;
  height: inherit;
  min-width: 1200px;
  position: relative;
}

section.crud-sec {
  background-color: #eee;
  flex: 4;
}

section.crud-sec button {
  width: 100%;
  border: none;
  color: #eee;
  background-color: #222;
  padding: 5px;
  font-weight: 900;
  font-family: 17px;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}

section.crud-sec button:hover {
  background-color: #444;
  opacity: 1;
}

section.crud-sec table {
  width: 100%;
  border-collapse: collapse;
}

section.crud-sec tr {
  border: 2px solid;
}

section.crud-sec th {
  background-color: #111;
  color: #fff;
}

section.crud-sec th,
section.crud-sec td {
  text-align: start;
  /* border: 1px solid black; */
  padding: 4px 8px;
}

section.crud-sec tr:nth-child(even) {
  background-color: #ccc;
}

section.crud-sec td.update,
section.crud-sec td.delete {
  border: 0px;
  padding: 10px;
}

td button.update {
  font-size: 20px;
  font-weight: 100;
  height: 35px;
  width: 35px;
  border-radius: 30px;
}

td button.delete  {
  background-color: none;
  font-size: 17px;
  height: 35px;
  width: 35px;
  border-radius: 30px;
}

section.manipule-sec {
  flex: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section.search-sec {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 20px 20px 40px;
  border-bottom: 2px solid;
}

section.search-sec div.radios {
  font-size: 17px;
}

section.search-sec div.radios label {
  margin: 4px;
  line-height: 40px;
}

section.search-sec div.category {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  margin: 15px;
}

div.category select {
  width: 150px;
  margin: 0px 20px;
  padding: 10px;
  font-size: 20px;
}

section.search-sec div.search input {
  padding: 10px;
  width: 400px;
  font-size: 20px;
}

section.search-sec div.search button,
section.register-sec div.buttons button {
  padding: 10px;
  width: 120px;
  font-size: 20px;
}

section.register-sec {
  height: 50%;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
}

section.register-sec input {
  padding: 10px;
  margin: 10px 0px;
  width: 300px;
  font-size: 20px;
}

section.register-sec select {
  margin: 10px 0px;
  width: 325px;
  padding: 5px;
  font-size: 18px;
}
